---
import BaseLayouts from '../../layouts/BaseLayouts.astro'

const allPosts = await Astro.glob('../posts/*.md')

const uniqueTags = [
  ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
]

const pageTitle = 'Indice de etiquetas(tags)'

const tags = [
  'Dictado Medico',
  'Inteligencia Artificial',
  'IA',
  'Electronic Health Record',
  'EHR',
  'Registros Medicos Electronicos',
  'RME',
]
---

<BaseLayouts pageTitle={pageTitle}>
  <h2>Indice de etiquetas</h2>

  <div>{tags.map((tag) => <p>{tag}</p>)}</div>
</BaseLayouts>
