---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>About</title>
  </head>
  <body>
    <a href='/'>Inicio</a>
    <a href='/about/'>About us</a>
    <a href='/blog/'>Blog</a>

    <h1>Blog</h1>
    <h2>Mi Blog sobre Astro Aprendizaje!</h2>

    <h2>!... Cualquier Verga Astro Blog</h2>
    <p>Aqui es donde publicare sobre mi aprendizaje Astro</p>
    <ul>
      <li><a href='/posts/post-1/'>Primera Publicacion</a></li>
      <li>
        <a href='/posts/dictadoMedicoIA/'>Dictado Medico Impulsado por IA</a>
      </li>
      <li>
        <a href='/posts/digitalEngagement/'>Interaccion Digital</a>
      </li>
    </ul>
  </body>
</html>
