---
const pageTitle = 'Blog '
import BaseLayouts from '../layouts/BaseLayouts.astro'
const allPosts = await Astro.glob('../pages/posts/*.md')
import BlogPost from '../components/BlogPost.astro'
---

<BaseLayouts pageTitle={pageTitle}>
  <h2>Mi Blog sobre Astro Aprendizaje!</h2>

  <p>Aqui es donde publicare sobre mi aprendizaje Astro</p>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayouts>
