---
const pageTitle = 'Inicio'

import BaseLayouts from '../layouts/BaseLayouts.astro'

import Greeting from '../components/Greeting'

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md')
}
---

<BaseLayouts pageTitle={pageTitle}>
  <h2>Cualquier verga</h2>
  <Greeting client:load messages={['Hej', 'Hallo', 'Hola', 'Habari']} />
</BaseLayouts>
