---
const { platform, username } = Astro.props
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: #00539f;
    background-color: #f1f5f9;

    text-decoration: none;
    border-radius: 0.5em;
  }
</style>
